<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-end"><a routerLink="/">Back to list</a></div>
  </div>
  <div class="row">
    <div class="col-4 fw-bold text-end">ID</div>
    <div class="col-8">{{task?.id}}</div>
  </div>
  <div class="row">
    <div class="col-4 fw-bold text-end">Description</div>
    <div class="col-8">{{task?.description}}</div>
  </div>
  <div class="row">
    <div class="col-4 fw-bold text-end">Asssignee</div>
    <div class="col-8">
      <select class="form-select" [(ngModel)]="selectedUser">
        <option *ngFor="let u of users" [value]="u.id">
          {{u.id}} {{u.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-4 fw-bold text-end">Completed</div>
    <div class="col-8">
      <input type="checkbox" class="form-check-input" [(ngModel)]="status" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button type="button" class="btn btn-primary" (click)="update()">Update</button>
    </div>
  </div>
</div>